/* ------ GENERAL ------ */

:root {
    --primary: #382673;
    --secondary: #F0F8FF;
    --tertiary: #AF92FF;
    --quaternary: #1E1048;
    --success: #2E8B57;
    --search: #4682B4;
    --error: #CA2A22;
    --error-container: #540004;
    --logout: #8D1D18;
}

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, HelveticaNeue, Arial sans-serif;
    font-weight: 400;
}

.unselectable {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

body {
    background-color: var(--primary);
}

h1 {
    color: var(--secondary);
}

span {
    font-weight: 700;
    color: var(--tertiary);
}

/* ------ LOGIN ------ */

#l-body {
    background-color: var(--primary);
}

#l-header {
    margin-top: 2rem;
}

#l-title {
    font-size: 3rem;
    text-align: center;
}

#l-form-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#l-section-title {
    font-size: 1.7rem;
    text-align: center;
    color: var(--secondary);
}

#l-err-cont {
    width: 17rem;
    padding: 1rem 1.3rem;
    margin-top: 1.6rem;
    outline: .0625rem solid var(--error);
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--error-container);
}

#l-err-msg {
    font-size: 1rem;
    color: var(--secondary);
}

#l-err-canc {
    width: 1.5rem;
    margin-left: .7rem;
    transition: 150ms ease-out;
}
#l-err-canc:hover {
    filter: brightness(0.8);
}
#l-err-canc:active {
    transition: 100ms ease-out;
    filter: brightness(0.6);
}

#l-form {
    width: 17rem;
    padding: 1.3rem;
    margin-top: 1.6rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--quaternary);
}

.l-form-field {
    display: flex;
    flex-direction: column;
}

.l-label-cont {
    display: flex;
    justify-content: space-between;
}

#l-form label {
    font-size: 1rem;
    color: var(--secondary);
}

#l-form input {
    width: 15.47rem;
    padding: .4rem .75rem;
    margin: .5rem 0 1.25rem 0;
    border: none;
    border-radius: .3rem;
    outline: 0.0625rem solid #AF92FF88;
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--secondary);
    transition: 100ms ease-out;
}
#l-form input:focus {
    outline: 0.13rem solid var(--tertiary);
}

#password-forgotten {
    font-size: .9rem;
    text-decoration: none;
    line-height: 1.3;
    color: var(--tertiary);
}

#l-form button {
    padding: .4rem .75rem;
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    background-color: var(--success);
    color: var(--secondary);
    transition: 300ms ease-out;
}
#l-form button:hover {
    filter: brightness(1.1);
}
#l-form button:active {
    transition: 100ms ease-out;
    filter: brightness(1.2);
}

/* ------ DASHBOARD ------ */

#d-header {
    padding: 0 12rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#d-title {
    font-size: 3rem;
}

#d-badges-container {
    padding: 0.3rem 1rem;
    margin-left: 26rem;
    border-radius: .6rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    background-color: var(--quaternary);
}

#d-badges-icon {
    width: 2.5rem;
    margin-right: 1rem;
}

#d-badges-stats {
    color: var(--tertiary);
    cursor: default;
}

#d-logout {
    padding: .85rem 1.85rem;
    border-radius: .6rem;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: var(--logout);
    color: var(--secondary);
    transition: 300ms ease-out;
}
#d-logout:hover {
    filter: brightness(1.1);
}
#d-logout:active {
    transition: 100ms ease-out;
    filter: brightness(1.2);
}

#d-main {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#d-err-cont {
    width: 17rem;
    padding: 1rem 1.3rem;
    margin-bottom: 1.2rem;
    outline: .0625rem solid var(--error);
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--error-container);
}

#d-err-msg {
    width: calc(100% - 2.2rem);
    font-size: 1rem;
    color: var(--secondary);
}

#d-err-canc {
    width: 1.5rem;
    margin-left: .7rem;
    transition: 150ms ease-out;
}
#d-err-canc:hover {
    filter: brightness(0.8);
}
#d-err-canc:active {
    transition: 100ms ease-out;
    filter: brightness(0.6);
}

#date-filter {
    width: 17rem;
    padding: 1.3rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    background-color: #1E1048C0;
}

#date-filter label {
    font-size: 1rem;
    color: var(--secondary);
}

#date-filter input {
    width: 15.47rem;
    padding: .4rem .75rem;
    margin: .5rem 0 1.25rem 0;
    border: none;
    border-radius: .3rem;
    outline: 0.0625rem solid #AF92FF44;
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--secondary);
    transition: 100ms ease-out;
}
#date-filter input:focus {
    outline: 0.13rem solid var(--tertiary);
}

#date-filter button {
    padding: .4rem .75rem;
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    background-color: var(--search);
    color: var(--secondary);
    transition: 300ms ease-out;
}
#date-filter button:hover {
    filter: brightness(1.1);
}
#date-filter button:active {
    transition: 100ms ease-out;
    filter: brightness(1.2);
}

#d-no-visits {
    margin-top: 5rem;
    font-size: 1.5rem;
    color: var(--tertiary);
}

#d-visits-table-cont {
    margin-top: 3rem;
}

#d-visits-table {
    width: calc(100vw - 24rem);
    border-collapse: collapse;
    font-size: 1rem;
    color: var(--secondary);
}

#d-visits-table thead {
    background-color: var(--search);
}

#d-visits-table th {
    padding: .6rem 0;
    font-weight: 700;
}

#d-visits-table td {
    padding: .4rem 0;
    text-align: center;
}

#d-visits-table th:nth-child(1), #d-visits-table th:nth-child(2) {
    width: 18%;
}

#d-visits-table th:nth-child(3),
#d-visits-table th:nth-child(4),
#d-visits-table th:nth-child(5),
#d-visits-table th:nth-child(7) {
    width: 14%;
}

#d-visits-table td:nth-child(1), #d-visits-table td:nth-child(2) {
    padding: 0 1.2rem;
    text-align: justify;
}

#d-visits-table td:nth-child(5) {
    padding: 0 1.8rem;
    text-align: justify;
}

#d-visits-table th:first-child {
    border-top-left-radius: .6rem;
}

#d-visits-table th:last-child {
    border-top-right-radius: .6rem;
}

#d-visits-table tbody tr {
    transition: 300ms ease-out;
}
#d-visits-table tbody tr:nth-child(even) {
    background-color: #322267;
}
#d-visits-table tbody tr:hover {
    background-color: var(--tertiary);
    color: var(--quaternary);
}

.d-v-status-cont {
    display: flex;
    align-items: center;
}

.d-v-status {
    width: .3rem;
    height: .3rem;
    margin-right: .6rem;
    border-radius: .15rem;
    background-color: red;
}

#d-v-status-attesa {
    background-color: #FFD400;
    filter: drop-shadow(0 0 .2rem #FFD400);
}

#d-v-status-corso {
    background-color: #50C878;
    filter: drop-shadow(0 0 .2rem #50C878);
}

#d-v-status-completato {
    background-color: #4678F0;
    filter: drop-shadow(0 0 .2rem #4678F0);
}

.d-v-submit {
    width: 80%;
    padding: .2rem 0;
    border: none;
    border-radius: .2rem;
    font-size: .9rem;
    transition: 300ms ease-out;
}
.d-v-submit:hover {
    filter: brightness(0.9);
}
.d-v-submit:active {
    transition: 100ms ease-out;
    filter: brightness(0.8);
}

#d-v-submit-assegna {
    background-color: #ffee57;
    color: #0F0700;
}

#d-v-submit-termina {
    background-color: var(--logout);
    color: var(--secondary);
}

svg {
    transition: transform 0.3s ease;
}
svg:hover {
    transform: scale(1.2);
}

/*---- new visitor (guest) ----*/
#g-body {
    background-color: var(--primary);
}

#g-header {
    margin-top: 2rem;
}

#g-title {
    font-size: 3rem;
    text-align: center;
}

#g-form-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#g-section-title {
    font-size: 1.7rem;
    text-align: center;
    color: var(--secondary);
}

#g-form {
    width: 17rem;
    padding: 1.3rem;
    margin-top: 1.6rem;
    outline: .0625rem solid #AF92FF88;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--quaternary);
}

.g-form-field {
    display: flex;
    flex-direction: column;
}

.g-label-cont {
    display: flex;
    justify-content: space-between;
}

#g-form label {
    font-size: 1rem;
    color: var(--secondary);
}

#g-form input {
    width: 15.47rem;
    padding: .4rem .75rem;
    margin: .5rem 0 1.25rem 0;
    border: none;
    border-radius: .3rem;
    outline: 0.0625rem solid #AF92FF88;
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--secondary);
    transition: 100ms ease-out;
}
#g-form input:focus {
    outline: 0.13rem solid var(--tertiary);
}

#g-form button {
    padding: .4rem .75rem;
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    background-color: var(--success);
    color: var(--secondary);
    transition: 300ms ease-out;
}
#g-form button:hover {
    filter: brightness(1.1);
}
#g-form button:active {
    transition: 100ms ease-out;
    filter: brightness(1.2);
}

#g-logout {
    padding: .85rem 1.85rem;
    border-radius: .6rem;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: var(--logout);
    color: var(--secondary);
    transition: 300ms ease-out;
}
#g-logout:hover {
    filter: brightness(1.1);
}
#g-logout:active {
    transition: 100ms ease-out;
    filter: brightness(1.2);
}
#g-back {
    margin-top: 20px;
    padding: .4rem .75rem;
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    background-color: #4682B4;
    text-decoration: none;
    color: var(--secondary);
    transition: 300ms ease-out;
}
#g-back:hover {
    filter: brightness(1.1);
}
#g-back:active {
    transition: 100ms ease-out;
    filter: brightness(1.2);
}

/*---- new visit ----*/
#v-body {
    background-color: var(--primary);
}

#v-header {
    margin-top: 2rem;
}

#v-title {
    font-size: 3rem;
    text-align: center;
}

#v-form-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#v-section-title {
    font-size: 1.7rem;
    text-align: center;
    color: var(--secondary);
}

#v-form {
    width: 17rem;
    padding: 1.3rem;
    margin-top: 1.6rem;
    outline: .0625rem solid #AF92FF88;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--quaternary);
}

.v-form-field {
    display: flex;
    flex-direction: column;
}

.v-label-cont {
    display: flex;
    justify-content: space-between;
}

#v-form label {
    font-size: 1rem;
    color: var(--secondary);
}

#v-form input {
    width: 15.47rem;
    padding: .4rem .75rem;
    margin: .5rem 0 1.25rem 0;
    border: none;
    border-radius: .3rem;
    outline: 0.0625rem solid #AF92FF88;
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--secondary);
    transition: 100ms ease-out;
}
#v-form input:focus {
    outline: 0.13rem solid var(--tertiary);
}

#v-form button {
    padding: .4rem .75rem;
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    background-color: var(--success);
    color: var(--secondary);
    transition: 300ms ease-out;
}
#v-form button:hover {
    filter: brightness(1.1);
}
#v-form button:active {
    transition: 100ms ease-out;
    filter: brightness(1.2);
}

#v-logout {
    padding: .85rem 1.85rem;
    border-radius: .6rem;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: var(--logout);
    color: var(--secondary);
    transition: 300ms ease-out;
}
#v-logout:hover {
    filter: brightness(1.1);
}
#v-logout:active {
    transition: 100ms ease-out;
    filter: brightness(1.2);
}
#v-back {
    margin-top: 20px;
    padding: .4rem .75rem;
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    background-color: #4682B4;
    text-decoration: none;
    color: var(--secondary);
    transition: 300ms ease-out;
}
#v-back:hover {
    filter: brightness(1.1);
}
#v-back:active {
    transition: 100ms ease-out;
    filter: brightness(1.2);
}

/* ------ department (r) ------ */

#r-header {
    padding: 0 12rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#r-title {
    font-size: 3rem;
}

#r-badges-container {
    padding: 0.3rem 1rem;
    margin-left: 26rem;
    border-radius: .6rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    background-color: var(--quaternary);
}

#r-badges-icon {
    width: 2.5rem;
    margin-right: 1rem;
}

#r-badges-stats {
    color: var(--tertiary);
    cursor: default;
}

#r-logout {
    padding: .85rem 1.85rem;
    border-radius: .6rem;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: var(--logout);
    color: var(--secondary);
    transition: 300ms ease-out;
}
#r-logout:hover {
    filter: brightness(1.1);
}
#r-logout:active {
    transition: 100ms ease-out;
    filter: brightness(1.2);
}

#r-add {
    padding: .85rem 1.85rem;
    border-radius: .6rem;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: var(--tertiary);
    color: var(--secondary);
    transition: 300ms ease-out;
}
#r-add:hover {
    filter: brightness(1.1);
}
#r-add:active {
    transition: 100ms ease-out;
    filter: brightness(1.2);
}

#r-main {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#r-err-cont {
    width: 17rem;
    padding: 1rem 1.3rem;
    margin-bottom: 1.2rem;
    outline: .0625rem solid var(--error);
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--error-container);
}

#r-err-msg {
    width: calc(100% - 2.2rem);
    font-size: 1rem;
    color: var(--secondary);
}

#r-err-canc {
    width: 1.5rem;
    margin-left: .7rem;
    transition: 150ms ease-out;
}
#r-err-canc:hover {
    filter: brightness(0.8);
}
#r-err-canc:active {
    transition: 100ms ease-out;
    filter: brightness(0.6);
}

#date-filter {
    width: 17rem;
    padding: 1.3rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    background-color: #1E1048C0;
}

#date-filter label {
    font-size: 1rem;
    color: var(--secondary);
}

#date-filter input {
    width: 15.47rem;
    padding: .4rem .75rem;
    margin: .5rem 0 1.25rem 0;
    border: none;
    border-radius: .3rem;
    outline: 0.0625rem solid #AF92FF44;
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--secondary);
    transition: 100ms ease-out;
}
#date-filter input:focus {
    outline: 0.13rem solid var(--tertiary);
}

#date-filter button {
    padding: .4rem .75rem;
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    background-color: var(--search);
    color: var(--secondary);
    transition: 300ms ease-out;
}
#date-filter button:hover {
    filter: brightness(1.1);
}
#date-filter button:active {
    transition: 100ms ease-out;
    filter: brightness(1.2);
}

#r-visits-table-cont {
    margin-top: 3rem;
}

#r-visits-table {
    width: calc(100vw - 24rem);
    table-layout: fixed;
    font-size: 1rem;
    color: var(--secondary);
}

#r-visits-table th {
    font-weight: 700;
}

#r-visits-table td {
    text-align: center;
}
