<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
    <link href="main-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="navbar">
        <a href="new-visitor.html" title="add new visitor">Aggiungi un visitatore</a>
        <a href="new-visit.html" title="add visit">Aggiungi una visita</a>
        <a href="delete-visit.html" title="delete visit">Elimina visita</a>
    </div>
    <form method="get" action="/department">
        <label>Data</label>
        <input type="date" name="data" value="{dataSelezionata}" required/>
        <button type="submit">Cerca</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Nome e Cognome</th>
                <th>Ora di Inizio</th>
                <th>Ora di Fine</th>
            </tr>
        </thead>
        <tbody>
            {#for visita in visite}
                <tr>
                    <td>{visita.nome} {visita.cognome}</td>
                    <td>{visita.oraInizio}</td>
                    <td>{visita.oraFine}</td>
                </tr>
            {/for}
        </tbody>
    </table>

</body>
</html>

