<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
    <link href="main-style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="navbar">
        <a href="new-visitor.html" title="add new visitor">Aggiungi visitatore</a>
        <a href="new-visit.html" title="add visit">Aggiungi visita</a>
        <a href="delete-visit.html" title="delete visit">Elimina visita</a>
    </div>
    <form method="post">
        <label>Data</label>
        <input type="date"/>
    </form>
    <table>
        <thead>
            <tr>
                <th>Nome e Cognome</th>
                <th>Ora di Inizio</th>
                <th>Ora di Fine</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</body>
</html>