<!DOCTYPE html>
<html>
<head>
    <title>New Visitor</title>
</head>
<body>
<h1>Registra un nuovo visitatore:</h1>
<form action="/" method="get">
    <label for="name">Inserisci il nome:</label>
    <input type="text" id="name" name="name" placeholder="Inserisci il nome" required>

    <label for="surname">Inserisci il cognome:</label>
    <input type="text" id="surnamee" name="surname" placeholder="Inserisci il cognome" required>

    <label for="email">Inserisci l'email:</label>
    <input type="email" id="email" name="email" placeholder="Inserisci l'email:" required>

    <label for="phone">Inserisci il numero di telefono:</label>
    <input type="text" id="phone" name="phone" placeholder="Inserisci il numero di telefono:" required>

    <button type="submit" value="Invia">Invia</button>
    <button type="reset" value="Cancella">Elimina </button>
</form>

</body>
</html>