<!DOCTYPE html>
<html lang="it">
<head>
    <title>New Visitor</title>
    <link rel="stylesheet" href="assets/styles/style.css">
</head>
<body id="g-body">
    <header id="g-header">
        <h1 id="g-title" class="unselectable">Info<span>Drive</span></h1>
        <a href="/logout" id="g-logout">Esci</a>
    </header>
    {#if success}
        {success}
    {/if}
    {#if error}
        {error}
    {/if}
        <section id="g-form-section">
            <h2 id="g-section-title">Registra un nuovo visitatore:</h2>
            <form action="/newVisitor" method="post" id="g-form">
                <div class="g-form-field">
                    <div class="label-cont">
                        <label for="name">Inserisci il nome:</label>
                    </div>
                    <input type="text" id="first-name" name="first-name" required>
                </div>
                <div class="g-form-field">
                    <div class="label-cont">
                        <label for="surname">Inserisci il cognome:</label>
                    </div>
                    <input type="text" id="last-name" name="last-name" required>
                </div>
                <div class="g-form-field">
                    <div class="label-cont">
                        <label for="email">Inserisci l'email:</label>
                    </div>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="g-form-field">
                    <div class="label-cont">
                        <label for="phone">Inserisci il numero di telefono:</label>
                    </div>
                    <input type="tel" id="phone" name="phone" required>
                </div>
                    <button type="submit" value="Invia">Registra</button>
                    <a href="/department" id="g-back">Indietro</a>
            </form>
        </section>
</body>
</html>