<!DOCTYPE html>
<html lang="it">
<head>
    <title>InfoDrive | Aggiungi una visita</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro@3.0.3/styles/index.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro@3.0.3/index.min.js"></script>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <script src="/assets/scripts/script.js" defer></script>
</head>
<body>
    <header id="v-header">
        <h1 id="v-title" class="unselectable">Info<span>Drive</span></h1>
        <a href="/logout" id="v-logout">Esci</a>
    </header>
    <section id="v-form-section">
    <h2 id="v-section-title">Aggiungi una nuova visita:</h2>
    <form action="/newVisit" method="post" id="v-form">
        <div class="v-form-field">
            <div class="label-cont">
                <label for="visitor-id">Visitatore:</label>
            </div>
                <select id="visitor-id" name="visitor-id" required>
                    <option disabled selected value>Seleziona il visitatore</option>
                    {#for visitor in visitors}
                        <option value="{visitor.id}">{visitor.firstName} {visitor.lastName}</option>
                    {/for}
                </select>
        </div>
        <div class="v-form-field">
            <div class="label-cont">
                <label for="employee-id">Dipendente:</label>
            </div>
                <select id="employee-id" name="employee-id" required>
                <option disabled selected value>Seleziona il dipendente</option>
                    {#for employee in employees}
                        {#if employee.id == logged-employee.id}
                            <option value="{employee.id}" selected>{employee.firstName} {employee.lastName}</option>
                        {#else}
                            <option value="{employee.id}">{employee.firstName} {employee.lastName}</option>
                        {/if}
                    {/for}
                </select>
        </div>
        <div class="v-form-field">
            <div class="label-cont">
                <label for="start">Inserisci la data</label>
            </div>
            <input type="date" id="start" name="start" required readonly>
        </div>
        <div class="v-form-field">
            <div class="label-cont">
                <label for="expected-duration">Inserisci la durata della visita in minuti:</label>
            </div>
            <input type="number" id="expected-duration" name="expected-duration" min="15" max="120" required>
        </div>

        <div id="button">
            <button type="submit" value="Invia">Aggiungi</button>
            <a href="/department" id="v-back">Indietro</a>
        </div>
    </form>
    </section>
</body>
</html>